<!DOCTYPE html>
<html>
  <head>
    <title>Décor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="https://res.cloudinary.com/dc8t19jnn/image/upload/v1596738274/favicon_frmifs.ico"/>


    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render "devise/shared/flashes" %>
    <%= render "shared/navbar"%>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= render "shared/footer"%>
  </body>
</html>
